body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table th{
    border:1px solid;
    border-collapse: collapse;
    text-align: center;
    }

table td{
    border: 1px solid ;
    padding-left: 1%;

}

table {
    border: 2px solid;
    margin-bottom: 5%;
}

.hora{
    font-weight: bolder;
}

.evento{
    text-decoration: underline;
    font-style: italic
}